.movie-box {
    background-color: #fff;
    display: block;
    margin: 5px;
    position: relative;
}

@media only screen and (min-width: 1920px) {
    .movie-box, .movie-box label {
        max-width: 350px;
        width: 267px;
    }
}

@media only screen and (max-width: 1400px) {
    .movie-box, .movie-box label {
        max-width: 252px;
        width: 252px;
    }
}

.movie-box label {
    padding: 15px 10px 15px 70px;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.movie-box label::before {
    width: 10px;
    height: 10px;
    border-radius: 10%;
    content: '';
    background-color: #6e6e6e;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: -1;
}

.movie-box label::after {
    width: 30px;
    height: 30px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 10%;
    z-index: 2;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.movie-box input:checked ~ label {
    color: #fff;
}

.movie-box input:checked ~ label::before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.movie-box input:checked ~ label::after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}

.movie-box input {
    width: 30px;
    height: 30px;
    order: 1;
    z-index: 2;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.movie-box span {
    display: block;
}

.movie-box .movie-title {
    font-size: 1rem;
    font-weight: 600;
}

.movie-box .movie-year {
    font-size: 0.7rem;
}